{% extends 'base.html' %}
{% block content %}

<div class="container login-container">
    <div class="col-3"></div>
    <div class="col">
        <h1 align="center">Login</h1>
        <div>
            <form method="POST">
                    {{ form.hidden_tag() }}
                <div class="row mt-4">
                    <label for="" class="form-label">{{form.email.label}}</label>
                    {{ form.email(size=80) }}
                </div>
                <div class="row mt-4">
                    <label for="" class="form-label">{{ form.password.label }}</label>
                    {{ form.password(size=160) }}
                </div>
                <div class="row mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}